.button{
  &.is-dark{
    background: avril-color('blue');
    transition: all .2s ease-in-out;
    color: avril-color('marine') !important;
    &:hover{
      background: lighten(avril-color('blue'), 5%);
      color: avril-color('marine') !important;
    }
    svg{
      width: 16px;
      margin-left: -6px;
      fill: avril-color('marine');
    }
  }
}
