a, button {
  &.box {
    cursor: pointer;
    margin-bottom: 1rem;
    width: 100%;
    border: none;
    text-align: left;
    font-size: inherit;
    &.active, &:hover, &:focus {
      box-shadow: 0 2px 3px rgba(avril-color('marine'), 0.1), 0 0 0 1px avril-color('marine');
      outline: none;
    }
  }
}

.button{
  &.is-dark{
    background: avril-color('blue');
    transition: all .2s ease-in-out;
    color: avril-color('marine') !important;
    &:hover{
      background: lighten(avril-color('blue'), 5%);
      color: avril-color('marine') !important;
    }
  }

  &.is-default {
    background: whitesmoke !important;
    border-color: #dbdbdb;
  }

  &.is-wrapped {
    white-space: normal;
    height: auto;
    max-width: 100%;
    text-align: center;
    justify-content: center;
  }

  span svg {
    position: relative;
    top: -1px;
    vertical-align: middle;
  }
}

a, .button {
  svg {
    height: 1rem;
    padding-right: 0.25rem;
    fill: avril-color('marine');
    stroke: avril-color('marine');
  }
  &.is-primary svg {
    fill: $white;
    stroke: $white;
  }
}