.field{
  margin-bottom: 3rem !important;

  .input, .textarea{
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    background-color: #FAFAFA;
    border: 1px solid transparent;
    border-color: #E7E8EB;
    border-radius: 8px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    line-height: 1.5;
    padding-bottom: calc(1.5em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(1.5em - 1px);
    position: relative;
    vertical-align: top;
    color: avril-color('marine');
    font-size: 22px;
    &:focus {
      box-shadow: 0 0 0 2px avril-color('marine');
      border-color: transparent;
    }
    &:hover {
      border-color: #E7E8EB;
    }
  }

  .mx-datepicker {
    width: 10rem;
    // width: 100%;
  }
  .autocomplete-input {
    padding-left: 3rem;
  }
}

.autocomplete-input, .mx-input {
  @extend .input;
}

.autocomplete-input {
  padding-left: 3rem;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjY2NjIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Ik0yMSAyMWwtNC00Ii8+PC9zdmc+');
  background-repeat: no-repeat;
  background-position: 1rem center;
}

.natural-language {
  .input.heure, .mx-input {
    font-size: 1em;
    height: 41px;
    padding: 0;
    background: none;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid avril-color('blue');
    border-radius: 0;
    color: avril-color('marine');
    outline: none;
    font-family: $family-serif;
    &:hover {
      border-color: avril-color('blue');
    }
    &:focus {
      box-shadow: none;
      border-color: avril-color('marine');
    }
  }

  .mx-datepicker {
    .mx-input{
      padding-left: 0.5rem;
    }
  }
  .input.heure{
    width: 45px;
    text-align: center;
    &.total {
      width: 70px;
    }

    @include placeholder {
      opacity: 0.6;
    }

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance:textfield;
    }
  }
  .title{
    line-height: 47px !important;
    font-weight: 400 !important;
  }
  .select {
    margin-right: 1em;
    select{
      border: none;
      font-weight: 600;
      font-size: 18px;
    }
    &:not(.is-multiple) {
        height: 3em;
    }
    &:not(.is-multiple):not(.is-loading)::after{
      border: 3px solid #58585a;
      border-right: 0;
      border-top: 0;
      margin-top: -11px;
      height: .7em;
      width: .7em;
      right: 0.4em;
    }
    &.time{
      width: 160px;
    }
    &.years{
      width: 120px;
    }
    &.hours{
      width: 140px;
    }
    &.semaines{
      width: 140px;
    }
  }
}
