.progress-bar{
  background: #bfbfbf;
  height: 0.33rem;
  width: 100%;
  display: block;
  margin: 0.33rem 0;
  .bar{
    background: avril-color('marine');
    width: 0%;
    height: 100%;
    display: block;
  }
}