@import 'mixins';
@import 'variables';

@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/bulma';
@import '~avril/scss/components/section';

@import 'layouts';
@import 'components/buttons';
@import 'components/form';
@import 'components/notification';
@import 'components/reset';
@import 'components/stepper';
@import 'components/swiper';
@import 'components/tabs';
@import 'components/transition';
@import 'components/progressbar';

@import 'print';

html {
  overflow-y: auto;
}

.steps.is-hollow .is-active .steps-marker, .steps .is-active .steps-marker.is-hollow {
    border-color: avril-color('marine');
    background: avril-color('marine');
}

ul {
  li.box{
    margin-bottom: 1rem;
  }
}

hr {
  background-color: #f5f5f5;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0;
}

.title{
  line-height: 1.45;
}

.navbar-divider {
  display: block;
}