.cerfa-layout {
  background: #fafafa;
  #pdf-content {
    background: $white;
    box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
    margin: -1rem;
    padding: 1rem;
  }
}

.avril-layout {
  display: flex;
  min-height: 100vh;
  padding: 3rem 0;
  flex-direction: row;

  @include touch {
    padding: 1rem;
    min-height: 0;
    flex-direction: column;
  }
  .avril-aside {
    position: relative;
    flex-direction: column;
    display: flex;
    flex: 1.2;

    @include widescreen {
      flex: 1;
    }

    @include touch {
      display: block;
      .title {
        margin-bottom: 0.5rem;
      }
      .subtitle, .progress-label {
        display: inline-block;
      }
      .progress-label {
        &:before {
          content: ' : ';
        }
      }
    }

    .navbar-burger {
      position: absolute;
      right: 0;
      top: 0;
    }

    .aside-section {
      margin-bottom: 2rem;
      @include touch {
        margin-bottom: 0;
      }
    }

    .navigation-header {
      @include touch {
        display: none;
      }
    }

    .navigation-tabs {
      padding: 0;
      .navigation-tab {
        margin-right: -2rem;
        margin-bottom: 1rem;
      }
    }

    .navigation-titles {
      display: block;
      @include touch {
        display: flex;
      }

      .progress-bar {
        @include touch {
          display: none;
        }
      }
    }
  }

  .avril-content{
    flex: 1;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    margin-left: 2rem;
    @include touch {
      padding: 1rem;
      margin-left: 0;
    }
    @include widescreen {
      padding: 4rem 5rem;
    }
    background: $white;
    border-radius: $radius;
    box-shadow: 0 0 44px rgba(0, 22, 60, .12);
    width: 100%;
  }
}

.form-header {
  height: 6rem;
  @include touch {
    position: absolute;
    height: auto;
    .stepper {
      display: none;
    }
  }
}
.form {
  display: flex;
  flex-direction: row;
  @include touch {
    flex-direction: column-reverse;
  }
  .form-fields{
    flex: 1;
    display: flex;
    flex-grow: 1.6;
    flex-direction: column;
  }
  .form-help {
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    border-radius: $radius;
    padding-left: 3rem;
    @include widescreen {
      padding-left: 5rem;
    }
    @include touch {
      padding-left: 0;
      padding-bottom: 2rem;
      .notification {
        float: right;
        &:not(.is-expanded) {
          .title {
            margin-bottom: 0;
            font-size: 1rem;
          }
          .form-help-content {
            display: none;
          }
        }
      }
    }
  }
}
