@import '~avril/scss/variables/fonts';

@import '~avril/scss/avril-bulma';

$avril-colors: (
  'gray': #F5F6F9,
  'gray-dark': #DEE1E8,
  'marine': #00163C,
  'blue': #66F2B3,
  'red': #ea8a8a,
);

$avril-header: (
  'height': 100px
);

$avril-help: (
  'width': 24rem
);

// @function avril-color($key: 'gray') {
//   @return map-get($avril-colors, $key);
// }

// $primary: avril-color('marine');
// $success: avril-color('blue');
// $info: avril-color('gray-dark');
// $danger: avril-color('red');
// $link: avril-color('marine');
// $link-hover: lighten(avril-color('marine'), 5%);
// $background: avril-color('gray');
// $notification-padding: 0.5rem 1rem;
// $radius: 6px;
// $button-background-color: #dedede;